# Flask
Flask

# Flask components for forms/database/bootstrap
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF

# External libraries
twilio
phonenumbers

# Testing
xmlunittest

# Development
flake8
black
